body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    background-color: rgb(29, 29, 29);
    color: white;
}
h1{
    margin-bottom: 2px;
    text-align: center;
    padding:10px;
    color:white;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(90deg, rgba(40,198,227,1) 25%, rgba(26,70,148,1) 75%);
}

.daily{
    display: 'none';
    padding: 5px 19px;
    font-family: 'Montserrat', sans-serif;
    border:2px solid white;
    color: white;
}


.nav-link{
    padding: 0.1rem 1rem;
    border-bottom: 1px solid #dee2e6!important;
}

hr{
    margin: 0.5rem 0;
}

#sidebar{
    flex: 0 1 0;
}

#sb{
    display: flex;
    height: 87%;
}

.single_forecast{
    background-color: rgb(35, 81, 119);
    color: white;
    padding:8px;
    margin: 0px 12px;
    font-size: 100%;
}

#five-days-container{
    padding: 8px;
    font-size: 100%;
}
#five-days-header{
    margin-left:12px;
}