body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
}
h1{
    margin-bottom: 2px;
    text-align: center;
    padding:10px;
    color:white;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(90deg, rgba(40,198,227,1) 25%, rgba(26,70,148,1) 75%);
}

#daily{
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    border:2px solid coral;
    color: white;
}

#five-days{
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    border:2px solid coral;
    color: black;
}
.nav-link{
    padding: 0.1rem 1rem;
    border-bottom: 1px solid #dee2e6!important;
}

hr{
    margin: 0.5rem 0;
}

#sidebar{
    flex: 0 1 0;
}

#sb{
    display: flex;
    height: 87%;
}
